.beds-order__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

.beds-order {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1361px;
  padding: 0 15px;
}

.beds-order__text {
  color: #C2A17A;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 140%;

  border-bottom: 1px solid #C2A17A;
}

.beds-order__title {
  color: #481C04;
  font-size: 42px;
  font-weight: 800;
  line-height: 140%;
  padding-bottom: 56px;
}

.beds-order__slider {
  display: flex;
  column-gap: 40px;

  .beds-order__card {
    width: 427px;
    height: 513px;
    background-color: #FAFAFA;

    .beds-order__container {
      position: relative;

      // .beds-order__img {
      //   margin-bottom: 8px;
      // }

      .beds-order__sale {
        position: absolute;
        top: 17px;
        left: 14px;
      }

      .beds-order__like {
        position: absolute;
        top: 17px;
        right: 18px;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff1e100;
        transition: 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #FFF1E1;
        }
      }
    }

    .card__wrapper {
      padding: 8px 15px 16px 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 214px;

      .card__image-display {
        width: 395px;
        height: 1px;
        background-color: #C2C2C2;
        position: relative;
        margin-bottom: 16px;
  
        &::after {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 64px;
          height: 1px;
          background-color: #481C04;
        }
      }
  
      .card__image-display_next {
        position: relative;
  
        &::after {
          position: absolute;
          content: "";
          left: 64px;
          top: 0;
          width: 64px;
          height: 1px;
          background-color: #481C04;
        }
      }
  
      .card__title {
        font-size: 20px;
        font-weight: 700;
        color: #481C04;
        line-height: 140%;
        margin-bottom: 8px;

        width: 393px;
        display: block;
      }

      .card__opinion {
        display: flex;
        column-gap: 8px;
        align-items: center;

        .card__rating {
          display: flex;
          column-gap: 8px;
          align-items: center;

          .card__rating-num {
            color: #481C04;
            font-size: 14px;
            font-weight: 700;
            line-height: 140%;
          }
        }

        .card__dividing-strip {
          width: 1px;
          height: 14px;
          background-color: #858585;
        }

        .card__reviews {
          color: #858585;
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
        }
      }

      .card__price {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .card__price_current {
          margin-right: 18px;
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          color: #481C04;
        }

        .card__price_old {
          margin-right: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
          color: #C2C2C2;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            background-color: #C2C2C2;
            width: 100%;
            height: 1px;
            top: 40%;
            left: 0;
          }
        }
      }

      .card__installment {
        color: #858585;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}

.beds-order__btn {
  width: 35px;
  height: 51px;
  margin-top: 365px;
}

.beds-order__btn-back {
  margin-right: 20px;
}

.beds-order__btn-forward {
  margin-left: 20px;
}

@media (max-width: 1480px) {
  .beds-order {
    width: 1220px;
  }

  .beds-order__wrapper {
    position: relative;
  }

  .beds-order__btn-back {
    position: absolute;
    left: 45%;
    bottom: -15%;
  }

  .beds-order__btn-forward {
    position: absolute;
    right: 45%;
    bottom: -15%;
  }

  .beds-order__btn {
    width: 52px;
  }
}