.footer {
  background-color: rgb(82, 93, 120);
  position: relative;

  .footer__indent {
    margin-bottom: 45px;
    display: inline-block;
  }
}

.footer__wrapper {
  display: flex;
  column-gap: 195px;
}

.footer__info-company {
  margin-left: 95px;
  max-width: 308px;
  margin-bottom: 68px;

  .info-company__title {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .footer__logo {
    margin-bottom: 15px;
    display: inline-block;
  }

  .info-company__text {
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .social-link__wrapper {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 25px;

    .social-link__text {
      font-size: 14px;
      color: white;
    }
  }

  .tel-link__wrapper {
    display: flex;
    column-gap: 8px;
    margin-bottom: 10px;

    .tel-link__text {
      font-size: 14px;
      color: white;
    }

    .tel-link {
      color: white;
    }
  }

  .mail-link__wrapper {
    display: flex;
    column-gap: 8px;
    margin-bottom: 26px;

    .mail-link__text {
      font-size: 14px;
      color: white;
    }

    .mail-link {
      font-size: 14px;
      color: #C2A17A;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .info-company__link {
    font-size: 14px;
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer__nav {
  display: flex;
  column-gap: 110px;

  .nav__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .nav__link {
 

      & a {     
        text-decoration: underline;
        color: white;
        font-size: 16px;
        font-weight: 400;
        transition: 0.3s;

        &:hover {
          text-decoration: none;
          color: #C2A17A;
        }
      }
    }
  }
}

.up-btn {
  transform: rotate(270deg);

  position: absolute;
  right: 100px;
  bottom: 110px;
}

.footer__pop-up {
  color: white;
  font-size: 16px;
  text-align: left;

  padding: 10px;

  background-color: #C2A17A;
  width: 303px;
  height: 38px;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;

  position: absolute;
  right: 34px;
  bottom: 0;
}