.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 16px;
}

.navigation__list {
  display: flex;
  column-gap: 16px;

  .navigation__link {
    font-size: 16px;
    font-weight: 400;
    color: #481c04;
    transition: 0.3s;

    &:hover {
      color: #f5d6b0;
    }

    &:active {
      color: #c2a17a;
    }
  }
}

.tel-lang {
  display: flex;
  column-gap: 16px;

  .tel__link {
    display: flex;
    align-items: center;
    column-gap: 8px;

    color: #525e78;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;

    svg path {
      stroke: #525e78;
      transition: 0.3s;
    }

    &:hover {
      color: #f5d6b0;
    }

    &:hover svg path {
      stroke: #f5d6b0;
    }

    &:active {
      color: #481c04;
    }

    &:active svg path {
      stroke: #481c04;
    }
  }

  .lang__btn {
    color: #525e78;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;

    &:hover {
      color: #f5d6b0;
    }
  }
}

.nav-main {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;

  .nav-main__logo {
    margin-right: 129px;
    display: flex;
  }

  .nav-main__catalog {
    display: flex;
    column-gap: 8px;
    align-items: center;
    padding: 9px 16px;
    margin-right: 45px;

    background-color: #c2a17a;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: #481c04;
    }
  }

  .nav-main__search {
    display: flex;
    flex-grow: 1;
    max-width: 831px;
    margin-right: 40px;
    border: 1.2px solid #e8e8e8;

    .search__field {
      padding: 15px 20px;
      width: 100%;
    }

    .search__btn {
      width: 56px;
      height: auto;
      background-color: #e8e8e8;
      transition: 0.3s;
    }

    &:hover .search__btn {
      background-color: #f5d6b0;
    }
  }

  .liked-basket {
    display: flex;
    column-gap: 23px;

    .liked-basket__wrapper {
      position: relative;

      .liked-basket__quantity {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: -25%;
        right: -25%;
        width: 24px;
        height: 24px;
        color: white;
        background-color: #c2a17a;
        border-radius: 50%;
      }

      svg path {
        stroke: #525e78;
        transition: 0.3s;
      }

      &:hover svg path {
        stroke: #c2a17a;
      }
    }
  }
}

.btn__show-menu {
  display: none;
}

.btn__mini-catalog {
  display: none;
}

.wrapper-box__search {
  flex-grow: 1;
}

@media (max-width: 1480px) {
  .nav-main .nav-main__logo {
    margin-right: 70px;
  }

  .nav-main .nav-main__search {
    display: flex;
    max-width: 710px;
  }
}

@media (max-width: 960px) {
  .navigation-wrapper {
    display: none;
  }

  .nav-main .nav-main__catalog {
    display: none;
  }

  .nav-main .liked-basket {
    display: none;
  }

  .btn__show-menu {
    display: block;
  }

  .btn__mini-catalog {
    display: block;
  }

  .wrapper-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .nav-main {
    flex-direction: column;
    align-items: normal;
  }

  .nav-main .nav-main__search .search__field {
    width: 100%;
    padding: 11px 20px;
  }
}
