@import "./header.scss";
@import "./reset.scss";
@import "./index/main-slider.scss";
@import "./index/beds-order.scss";
@import "./index/choice.scss";
@import "./index/projects.scss";
@import "./footer.scss";
@import "./modal-menu.scss";


@import "./bed/catalog.scss";

body {
  font-family: "Exo 2", sans-serif;
}

.wrapper {
  max-width: 1391px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

@media (max-width: 1480px) {
  .wrapper {
    max-width: 1270px;
  }
}
