@import "./header.scss";
@import "./reset.scss";
@import "./index/main-slider.scss";
@import "./index/beds-order.scss";
@import "./index/choice.scss";

body {
  font-family: 'Exo 2', sans-serif;
}

.wrapper {
  width: 1361px;
  margin: 0 auto;
  padding: 0 15px;
}