.main-card {
  .bread-crumbs {
    margin-bottom: 40px;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  .btn__favourites {
    display: flex;
    column-gap: 4px;

    color: #858585;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;

    & svg path {
      stroke: #858585;
      transition: 0.3s;
    }

    &:hover svg path {
      stroke: #481c04;
    }

    &:hover {
      color: #481c04;
    }
  }
}

.wrapper__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .card__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    color: #481c04;
    margin-bottom: 8px;
  }

  .card__rating {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  min-width: 0;
}

@media (max-width: 500px) {
  .main-card .bread-crumbs {
    display: none;
  }
}

// .swiper-container {}

.swiper {
  max-width: 543px;
  height: 497px;
}

.card {
  background-color: black;
  max-height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -16px;

  & svg path {
    stroke: #c2a17a;
    transition: 0.2s;
  }

  &:hover svg path {
    stroke: #f5d6b0;
  }

  &:active svg path {
    stroke: #481c04;
    transition: 0s;
  }
}

.swiper-button-prev {
  left: -5px;
}

.swiper-button-next {
  left: 75px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination {
  display: flex;
  align-items: baseline;
  margin-left: 35px;
  justify-content: flex-end;
  width: 30px;
}

.swiper-pagination-current {
  font-size: 24px;
  font-weight: 600;
}

.swiper-pagination-total {
  font-size: 14px;
}

.swiper-navigation {
  position: relative;
}

// =====================================

.main-card-content {
  max-width: 427px;

  .content-title__box {
    .content-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #481c04;
      margin-bottom: 16px;
    }

    .btn-content__wrapper {
      display: flex;
      column-gap: 20px;
      margin-bottom: 34px;

      .content-title__btn {
        padding: 8px 16px;
        background-color: #ffffff;
        color: #481c04;
        border: 1px solid #c2c2c2;
        transition: 0.2s;

        &:hover {
          background-color: #fff1e1;
          border: 1px solid #fff1e1;
        }
      }

      .content-title__btn--active {
        background-color: #eaeaea;
        border: 1px solid #eaeaea;

        &:hover {
          background-color: #eaeaea;
          border: 1px solid #eaeaea;
        }
      }
    }
  }

  .content-materials__box {
    .content-title {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.01em;
      line-height: 140%;
      color: #481c04;
    }

    .materials__box {
      display: flex;
      justify-content: space-between;
      width: 427px;
      column-gap: 31px;
      margin-bottom: 32px;

      .upholstery-material {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 220px;

        .material__title {
          color: #858585;
          margin-bottom: 12px;
          font-size: 14px;
          letter-spacing: 0.01em;
          line-height: 140%;
        }

        .material__content-wrapper {
          display: flex;
          align-items: flex-start;
          column-gap: 8px;

          .material__text {
            text-align: left;
            color: #481c04;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.01em;
          }
        }
      }

      .upholstery-color {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .color__title {
          color: #858585;
          margin-bottom: 12px;
          font-size: 14px;
          letter-spacing: 0.01em;
          line-height: 140%;
        }

        .color__content-wrapper {
          display: flex;
          align-items: flex-start;
          column-gap: 8px;

          .color__text {
            text-align: left;
            color: #481c04;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.01em;
          }
        }
      }
    }

    .list-materials__title {
      margin-bottom: 8px;
      color: #858585;
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 140%;
    }

    .list-materials__box {
      margin-left: 18px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: 40px;

      & li {
        list-style: disc;
        color: #481c04;

        &::marker {
          color: #481c04;
        }
      }
    }
  }

  .delivery-payment__wrapper {
    display: flex;
    column-gap: 39px;
  }
}

.main-card-price {
  max-width: 282px;
}
